In [2]:
import pandas as pd
import numpy as np
import csv

In [6]:
employee=pd.read_csv('employee_compensation.csv')
employee_group=employee.groupby(['Organization Group','Department']).agg({'Total Compensation': np.average})
employee_sort= employee_group['Total Compensation'].groupby(level=0, group_keys=False)
res = employee_sort.apply(lambda x: x.sort_values(ascending=False))
abc=res.to_frame()
abc.to_csv('Q2_P1.csv')
abc.head()

                                          Total Compensation
Organization Group   Department
Community Health     Public Health              96190.190140
Culture & Recreation Law Library               188424.362222
                     Academy of Sciences       107319.727692
                     Arts Commission            94339.597388
                     War Memorial               76250.068022