In [73]:
import csv
import pandas as pd
import re
movie['Awards'].unique()

array([nan, '1 win & 2 nominations.', '1 win.', '1 nomination.',
       '3 wins & 2 nominations.', '1 win & 1 nomination.',
       '5 nominations.', '2 wins & 5 nominations.',
       'Nominated for 1 Oscar. Another 13 wins & 13 nominations.',
       '5 wins & 4 nominations.',
       'Nominated for 1 Golden Globe. Another 14 wins & 34 nominations.',
       '22 wins & 44 nominations.', '1 win & 3 nominations.',
       '1 win & 8 nominations.', '2 nominations.',
       '6 wins & 1 nomination.',
       'Won 2 Golden Globes. Another 68 wins & 201 nominations.',
       'Won 1 Golden Globe. Another 31 wins & 143 nominations.',
       'Nominated for 4 Primetime Emmys. Another 16 nominations.',
       '3 wins & 6 nominations.', '2 wins.', '6 wins & 4 nominations.',
       '7 wins & 6 nominations.', '9 wins & 30 nominations.',
       'Won 1 Primetime Emmy. Another 1 win & 6 nominations.',
       'Nominated for 3 BAFTA Film Awards. Another 11 wins & 39 nominations.',
       '6 nominations.', '1 win & 4 nominations.',
       '14 wins & 11 nominations.', '3 wins & 3 nominations.',
       'Nominated for 1 Golden Globe. Another 2 wins & 14 nominations.',
       'Nominated for 1 Primetime Emmy. Another 1 nomination.',
       '3 wins & 1 nomination.', '9 wins & 8 nominations.',
       '15 wins & 4 nominations.', '8 wins & 8 nominations.',
       '4 nominations.', '4 wins.', '15 nominations.',
       '7 wins & 7 nominations.', '4 wins & 9 nominations.',
       'Won 11 Oscars. Another 174 wins & 113 nominations.',
       '4 wins & 11 nominations.', '3 wins & 4 nominations.',
       '1 win & 5 nominations.', '2 wins & 2 nominations.',
       'Won 1 Oscar. Another 11 wins & 14 nominations.',
       'Won 3 Primetime Emmys. Another 44 nominations.',
       'Nominated for 7 Oscars. Another 6 wins & 36 nominations.',
       '1 win & 6 nominations.', '2 wins & 7 nominations.',
       '14 wins & 22 nominations.', '12 nominations.',
       '5 wins & 34 nominations.',
       'Nominated for 1 Primetime Emmy. Another 1 win & 2 nominations.',
       '9 nominations.', '8 nominations.', '3 wins.',
       '10 wins & 22 nominations.',
       'Nominated for 2 Golden Globes. Another 21 wins & 72 nominations.',
       '2 wins & 3 nominations.', '2 wins & 1 nomination.',
       '2 wins & 10 nominations.', '8 wins & 10 nominations.',
       '2 wins & 8 nominations.', '6 wins & 2 nominations.',
       '3 nominations.', '14 wins & 17 nominations.',
       '3 wins & 7 nominations.', '5 wins & 2 nominations.',
       '13 wins & 7 nominations.', '1 win & 15 nominations.',
       '6 wins & 6 nominations.',
       'Nominated for 1 Oscar. Another 25 wins & 51 nominations.',
       '8 wins & 20 nominations.', '5 wins & 12 nominations.',
       '7 wins & 5 nominations.', '2 wins & 6 nominations.',
       '1 win & 14 nominations.',
       'Nominated for 3 Oscars. Another 13 wins & 40 nominations.',
       '1 win & 9 nominations.', '8 wins & 6 nominations.',
       '8 wins & 17 nominations.', '4 wins & 1 nomination.',
       '4 wins & 4 nominations.', '5 wins.', '27 wins & 31 nominations.',
       'Nominated for 1 Oscar. Another 11 wins & 24 nominations.',
       '21 nominations.', '7 wins & 9 nominations.',
       '3 wins & 32 nominations.', '4 wins & 6 nominations.',
       'Won 6 Golden Globes. Another 80 wins & 310 nominations.',
       '18 wins & 7 nominations.',
       'Nominated for 3 Golden Globes. Another 3 wins & 23 nominations.',
       '5 wins & 25 nominations.', '11 wins.', '5 wins & 9 nominations.',
       '5 wins & 7 nominations.', '4 wins & 5 nominations.',
       '36 wins & 20 nominations.', '5 wins & 6 nominations.',
       '2 wins & 19 nominations.',
       'Nominated for 2 Oscars. Another 23 wins & 99 nominations.',
       '10 wins & 24 nominations.', '26 wins & 18 nominations.',
       'Nominated for 5 Oscars. Another 26 wins & 88 nominations.',
       'Nominated for 1 Oscar. Another 2 wins & 4 nominations.',
       'Nominated for 1 Oscar. Another 2 wins & 14 nominations.',
       '28 wins & 16 nominations.',
       'Won 1 Golden Globe. Another 10 wins & 57 nominations.',
       '2 wins & 17 nominations.', '26 wins & 24 nominations.',
       'Won 1 Primetime Emmy. Another 3 wins & 3 nominations.',
       'Nominated for 1 Oscar. Another 5 wins & 1 nomination.',
       'Nominated for 1 Oscar. Another 1 win.', '2 wins & 4 nominations.',
       'Won 6 Oscars. Another 48 wins & 28 nominations.',
       '12 wins & 20 nominations.',
       'Nominated for 2 Golden Globes. Another 1 win & 4 nominations.',
       '4 wins & 12 nominations.',
       'Nominated for 4 Oscars. Another 28 wins & 116 nominations.',
       'Won 1 Oscar. Another 7 wins & 29 nominations.',
       'Nominated for 2 Oscars. Another 25 wins & 58 nominations.',
       '6 wins & 10 nominations.',
       'Won 1 Golden Globe. Another 5 wins & 17 nominations.',
       'Nominated for 3 Golden Globes. Another 1 win & 25 nominations.',
       '1 win & 7 nominations.', '5 wins & 1 nomination.',
       '7 nominations.',
       'Nominated for 1 Primetime Emmy. Another 4 wins & 17 nominations.',
       '3 wins & 10 nominations.',
       'Nominated for 2 Primetime Emmys. Another 8 wins & 14 nominations.',
       '7 wins & 8 nominations.', '11 wins & 6 nominations.',
       '1 win & 12 nominations.', '5 wins & 11 nominations.',
       '3 wins & 11 nominations.', '4 wins & 7 nominations.',
       '6 wins & 11 nominations.',
       'Nominated for 1 Oscar. Another 7 wins & 42 nominations.',
       'Nominated for 1 Oscar. Another 34 wins & 75 nominations.',
       'Won 3 Oscars. Another 92 wins & 150 nominations.',
       'Nominated for 3 Oscars. Another 46 wins & 87 nominations.',
       '20 wins & 35 nominations.', '11 wins & 21 nominations.',
       'Nominated for 3 Oscars. Another 34 wins & 88 nominations.',
       '22 wins & 68 nominations.', '32 wins & 86 nominations.',
       '8 wins & 19 nominations.',
       'Nominated for 1 Oscar. Another 13 wins & 26 nominations.',
       '11 wins & 62 nominations.', '7 wins & 12 nominations.',
       '3 wins & 9 nominations.',
       'Nominated for 2 Primetime Emmys. Another 1 win & 1 nomination.',
       '9 wins & 2 nominations.',
       'Won 1 Primetime Emmy. Another 2 wins & 20 nominations.',
       'Nominated for 1 Primetime Emmy. Another 1 win & 26 nominations.',
       '3 wins & 13 nominations.', '6 wins & 13 nominations.',
       '10 wins & 5 nominations.',
       'Won 1 Primetime Emmy. Another 3 wins & 11 nominations.',
       '2 wins & 27 nominations.',
       'Won 1 Primetime Emmy. Another 4 nominations.',
       '13 wins & 5 nominations.', '4 wins & 16 nominations.',
       'Nominated for 1 Primetime Emmy. Another 3 nominations.',
       'Won 2 Primetime Emmys. Another 2 nominations.',
       'Won 1 Oscar. Another 13 wins & 7 nominations.',
       'Won 3 Golden Globes. Another 13 wins & 19 nominations.',
       'Won 18 Primetime Emmys. Another 16 wins & 60 nominations.',
       'Nominated for 1 Golden Globe. Another 4 wins & 5 nominations.',
       '5 wins & 16 nominations.', '6 wins & 5 nominations.',
       'Won 3 Primetime Emmys. Another 34 wins & 89 nominations.',
       'Nominated for 3 Oscars. Another 19 wins & 40 nominations.',
       'Nominated for 1 Oscar. Another 5 wins & 41 nominations.',
       '7 wins & 42 nominations.',
       'Nominated for 1 Oscar. Another 8 wins & 58 nominations.',
       'Won 1 Oscar. Another 39 wins & 134 nominations.',
       '3 wins & 23 nominations.', '5 wins & 28 nominations.',
       '2 wins & 21 nominations.', '2 wins & 16 nominations.',
       'Nominated for 2 Golden Globes. Another 20 wins & 52 nominations.',
       'Nominated for 2 Oscars. Another 4 wins & 17 nominations.',
       '1 win & 23 nominations.', '1 win & 10 nominations.',
       'Nominated for 1 Oscar. Another 17 wins & 53 nominations.',
       'Won 2 Oscars. Another 44 wins & 74 nominations.',
       'Nominated for 1 Oscar. Another 6 wins & 46 nominations.',
       '2 wins & 11 nominations.',
       'Nominated for 1 BAFTA Film Award. Another 9 wins & 54 nominations.',
       'Won 7 Oscars. Another 215 wins & 169 nominations.',
       'Nominated for 1 Oscar. Another 70 wins & 59 nominations.',
       '4 wins & 10 nominations.',
       'Nominated for 1 Oscar. Another 9 wins & 40 nominations.',
       'Nominated for 3 Primetime Emmys. Another 14 nominations.',
       '5 wins & 31 nominations.', '11 wins & 34 nominations.',
       'Nominated for 1 Oscar. Another 13 wins & 59 nominations.',
       'Nominated for 1 BAFTA Film Award. Another 5 wins & 42 nominations.',
       'Nominated for 2 Oscars. Another 12 wins & 63 nominations.',
       '14 wins.',
       'Nominated for 1 Oscar. Another 5 wins & 49 nominations.',
       '18 wins & 22 nominations.',
       'Won 2 Golden Globes. Another 25 wins & 162 nominations.',
       '1 win & 11 nominations.',
       'Nominated for 1 Oscar. Another 11 wins & 21 nominations.',
       '3 wins & 29 nominations.',
       'Nominated for 1 Oscar. Another 15 wins & 42 nominations.',
       '9 wins & 4 nominations.', '8 wins & 21 nominations.',
       'Nominated for 1 BAFTA Film Award. Another 2 wins & 4 nominations.',
       'Nominated for 1 Golden Globe. Another 21 wins & 59 nominations.',
       'Nominated for 1 Golden Globe. Another 16 wins & 26 nominations.',
       '2 wins & 18 nominations.', '16 nominations.',
       'Nominated for 2 Oscars. Another 48 wins & 92 nominations.',
       'Nominated for 1 Oscar. Another 3 wins & 45 nominations.',
       'Won 1 Primetime Emmy. Another 1 win & 5 nominations.',
       '9 wins & 3 nominations.',
       'Won 3 Oscars. Another 234 wins & 312 nominations.',
       'Nominated for 2 Primetime Emmys. Another 1 win & 2 nominations.',
       '10 wins & 23 nominations.',
       'Nominated for 2 Primetime Emmys. Another 4 wins & 15 nominations.',
       'Nominated for 1 Oscar. Another 12 wins & 71 nominations.',
       'Won 1 Golden Globe. Another 4 wins & 16 nominations.',
       '9 wins & 13 nominations.',
       'Nominated for 3 Oscars. Another 11 wins & 69 nominations.',
       'Nominated for 3 Primetime Emmys. Another 2 wins & 48 nominations.',
       '8 wins & 11 nominations.', '1 win & 28 nominations.',
       '13 wins & 11 nominations.',
       'Won 1 Oscar. Another 13 wins & 53 nominations.',
       '19 wins & 21 nominations.',
       'Nominated for 1 Golden Globe. Another 3 wins & 27 nominations.',
       '7 wins & 4 nominations.',
       'Nominated for 1 Oscar. Another 64 wins & 169 nominations.',
       'Won 4 Oscars. Another 122 wins & 213 nominations.',
       'Won 2 Oscars. Another 72 wins & 57 nominations.',
       '3 wins & 5 nominations.',
       'Nominated for 1 Oscar. Another 6 wins & 45 nominations.',
       '11 nominations.',
       'Nominated for 1 Primetime Emmy. Another 1 win & 5 nominations.',
       '7 wins & 18 nominations.', '1 win & 19 nominations.',
       '23 wins & 27 nominations.',
       'Nominated for 2 Primetime Emmys. Another 2 wins & 21 nominations.',
       'Nominated for 6 Golden Globes. Another 43 wins & 92 nominations.',
       '4 wins & 3 nominations.',
       'Won 3 Primetime Emmys. Another 2 wins & 17 nominations.',
       '14 wins & 26 nominations.', '2 wins & 9 nominations.',
       '4 wins & 8 nominations.',
       'Nominated for 1 Golden Globe. Another 12 wins & 35 nominations.',
       '7 wins & 3 nominations.', '10 wins & 38 nominations.',
       'Won 2 Golden Globes. Another 7 wins & 54 nominations.',
       '7 wins & 2 nominations.', '4 wins & 2 nominations.',
       'Nominated for 1 Primetime Emmy. Another 1 win & 6 nominations.',
       'Nominated for 2 Golden Globes. Another 10 wins & 46 nominations.',
       '13 wins & 8 nominations.', '2 wins & 15 nominations.',
       '10 wins & 2 nominations.',
       'Nominated for 1 Primetime Emmy. Another 30 nominations.',
       'Nominated for 1 Primetime Emmy. Another 2 wins & 4 nominations.',
       '18 wins & 5 nominations.',
       'Nominated for 4 Primetime Emmys. Another 12 nominations.',
       'Won 1 Primetime Emmy. Another 1 win & 4 nominations.',
       '20 wins & 32 nominations.',
       'Nominated for 1 Oscar. Another 38 wins & 74 nominations.',
       '19 wins & 10 nominations.', '15 wins & 27 nominations.',
       '6 wins & 15 nominations.', '6 wins & 19 nominations.',
       'Won 5 Primetime Emmys. Another 7 wins & 23 nominations.',
       '6 wins & 12 nominations.', '12 wins & 10 nominations.',
       '5 wins & 15 nominations.',
       'Won 1 Oscar. Another 2 wins & 1 nomination.',
       '4 wins & 14 nominations.', '20 wins & 19 nominations.',
       '3 wins & 12 nominations.', '3 wins & 17 nominations.',
       'Won 2 Primetime Emmys. Another 3 wins & 5 nominations.',
       'Won 1 Primetime Emmy. Another 1 nomination.',
       '8 wins & 2 nominations.', '3 wins & 8 nominations.', '8 wins.',
       '15 wins & 30 nominations.',
       'Won 1 Primetime Emmy. Another 1 win & 21 nominations.',
       'Nominated for 1 Golden Globe. Another 8 wins & 16 nominations.',
       'Won 1 Primetime Emmy. Another 2 wins.', '6 wins & 3 nominations.',
       '5 wins & 3 nominations.',
       'Nominated for 1 Oscar. Another 4 wins & 9 nominations.',
       'Won 2 Primetime Emmys. Another 3 nominations.',
       '9 wins & 1 nomination.', '9 wins & 7 nominations.',
       '8 wins & 3 nominations.', '6 wins & 25 nominations.',
       '15 wins & 20 nominations.',
       'Won 2 Primetime Emmys. Another 7 wins & 23 nominations.',
       '6 wins.', '9 wins & 5 nominations.', '6 wins & 7 nominations.',
       'Nominated for 4 Primetime Emmys. Another 18 wins & 40 nominations.',
       'Won 2 Golden Globes. Another 3 wins & 3 nominations.',
       'Nominated for 1 Primetime Emmy. Another 4 nominations.',
       'Won 1 Golden Globe. Another 12 wins & 39 nominations.',
       '15 wins & 6 nominations.', '8 wins & 15 nominations.',
       'Nominated for 5 Oscars. Another 6 wins & 1 nomination.',
       'Won 7 Primetime Emmys. Another 25 wins & 84 nominations.',
       'Nominated for 2 Oscars. Another 14 wins & 56 nominations.',
       '6 wins & 53 nominations.',
       'Nominated for 1 BAFTA Film Award. Another 2 wins & 28 nominations.',
       'Nominated for 1 Oscar. Another 8 wins & 28 nominations.',
       '17 wins & 32 nominations.', '17 wins & 28 nominations.',
       'Nominated for 1 Golden Globe. Another 5 wins & 39 nominations.',
       'Won 1 Oscar. Another 91 wins & 95 nominations.',
       '5 wins & 10 nominations.', '10 nominations.',
       'Nominated for 1 BAFTA Film Award. Another 1 win & 18 nominations.',
       'Nominated for 1 Oscar. Another 9 wins & 18 nominations.',
       'Nominated for 3 Oscars. Another 32 wins & 141 nominations.',
       '5 wins & 41 nominations.', '7 wins & 14 nominations.',
       'Nominated for 1 Golden Globe. Another 1 win & 44 nominations.',
       'Nominated for 5 Oscars. Another 47 wins & 106 nominations.',
       'Won 1 Golden Globe. Another 2 wins & 17 nominations.',
       '6 wins & 33 nominations.',
       'Won 9 Primetime Emmys. Another 17 wins & 17 nominations.',
       'Nominated for 1 Oscar. Another 2 wins & 49 nominations.',
       'Nominated for 1 Golden Globe. Another 10 wins & 53 nominations.',
       '8 wins & 22 nominations.',
       'Nominated for 5 Primetime Emmys. Another 12 nominations.',
       'Nominated for 7 Primetime Emmys. Another 1 win & 26 nominations.',
       'Nominated for 5 Primetime Emmys. Another 2 wins & 11 nominations.',
       'Nominated for 11 Primetime Emmys. Another 7 wins & 26 nominations.',
       'Nominated for 3 Golden Globes. Another 9 wins & 50 nominations.',
       '5 wins & 26 nominations.',
       'Nominated for 1 Golden Globe. Another 1 win & 10 nominations.',
       'Nominated for 3 Primetime Emmys. Another 2 wins & 7 nominations.',
       'Won 1 Primetime Emmy. Another 1 win & 13 nominations.',
       'Won 4 Primetime Emmys. Another 1 win & 6 nominations.',
       '3 wins & 19 nominations.', '5 wins & 8 nominations.',
       'Nominated for 3 Primetime Emmys. Another 12 nominations.',
       'Won 1 Golden Globe. Another 4 wins & 9 nominations.',
       'Nominated for 1 Golden Globe. Another 3 wins & 8 nominations.',
       'Won 2 Golden Globes. Another 15 wins & 26 nominations.',
       'Nominated for 1 Oscar. Another 5 wins & 15 nominations.',
       'Nominated for 4 Primetime Emmys. Another 1 win & 1 nomination.',
       'Nominated for 2 Primetime Emmys. Another 3 nominations.',
       'Nominated for 1 Primetime Emmy. Another 1 win.',
       '5 wins & 13 nominations.', '3 wins & 22 nominations.',
       'Nominated for 1 Oscar. Another 1 win & 3 nominations.',
       'Nominated for 1 Oscar. Another 1 nomination.'], dtype=object)

In [72]:
movie= pd.read_csv('movies_awards.csv',encoding ='latin1')
abc=movie['Awards'].dropna().str.rstrip('.')
abc
for ab in abc
if "win" in ab:
    ab.split('&')

3                                    1 win & 2 nominations
4                                                    1 win
5                                             1 nomination
6                                   3 wins & 2 nominations
7                                     1 win & 1 nomination
11                                           5 nominations
13                                  2 wins & 5 nominations
15       Nominated for 1 Oscar. Another 13 wins & 13 no...
18                                  5 wins & 4 nominations
24       Nominated for 1 Golden Globe. Another 14 wins ...
25                                  3 wins & 2 nominations
28                                            1 nomination
31                                           5 nominations
34                                   1 win & 2 nominations
37                                22 wins & 44 nominations
38                                   1 win & 3 nominations
39                                   1 win & 8 nominations
43                                           2 nominations
47                                   6 wins & 1 nomination
50       Won 2 Golden Globes. Another 68 wins & 201 nom...
51       Won 1 Golden Globe. Another 31 wins & 143 nomi...
53       Nominated for 4 Primetime Emmys. Another 16 no...
54                                  3 wins & 2 nominations
56                                  3 wins & 6 nominations
62                                                  2 wins
69                                  6 wins & 4 nominations
72                                  7 wins & 6 nominations
76                                 9 wins & 30 nominations
79       Won 1 Primetime Emmy. Another 1 win & 6 nomina...
84                                            1 nomination
                               ...
13668                                                1 win
13669                                               5 wins
13699                                                1 win
13727                                        2 nominations
13879                                         1 nomination
13898                                         1 nomination
13997                                                1 win
14003                                         1 nomination
14007                                                1 win
14046                                         1 nomination
14089                                        2 nominations
14136                                         1 nomination
14137                                        2 nominations
14249                               2 wins & 2 nominations
14346                                        2 nominations
14432                               2 wins & 2 nominations
14599                                2 wins & 1 nomination
14652                                         1 nomination
14761                                         1 nomination
14792                                         1 nomination
14800                                        2 nominations
14805                                                1 win
14873                                                1 win
14908                                         1 nomination
15177                                         1 nomination
15180                                        2 nominations
15219                                        2 nominations
15230                                         1 nomination
15234                                 1 win & 1 nomination
15269                                        7 nominations
Name: Awards, dtype: object

In [20]:
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")
print(stemmer.stem("nominated"))

nomin

In [185]:
print(stemmer.stem(['1', 'win', '&', '2', 'nominations']))

AttributeError: 'list' object has no attribute 'lower'

In [261]:
axx=["nomin", 1, 11, "win", "&", 24 ,"nomin"]
[axx.index("nomin")]
# "win" in l
# ax=l.index("win")-1
# int(l[ax])
# # abc.values()
# z=[]
# def a(ax):
#     zx=ax.split(' ')
#     for e in zx:
#         if digit():
            
#             z.append(stemmer.stem(e))
#     return z
        
# abc[200:300]

[0]

In [74]:
awards=pd.DataFrame(columns=["Awards","Awards_Won","Awards_Nominated","Prime_Awards_Nominated","Oscar_Awards_Nominated","Golden_Globe_Awards_Nominated","BAFTA_Awards_Nominated","Prime_Awards_won","Oscar_Awards_won","Golden_Globe_Awards_won","BAFTA_Awards_won"])
awards['Awards'] = abc
awards.head()

,Awards,Awards_Won,Awards_Nominated,Prime_Awards_Nominated,Oscar_Awards_Nominated,Golden_Globe_Awards_Nominated,BAFTA_Awards_Nominated,Prime_Awards_won,Oscar_Awards_won,Golden_Globe_Awards_won,BAFTA_Awards_won
3,1 win & 2 nominations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1 win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1 nomination,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3 wins & 2 nominations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1 win & 1 nomination,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
xyz=movie['Awards'].dropna().apply(lambda x:re.sub('\.$', '', x)).apply(lambda x:x.split(' '))
# abc=xyz.apply(lambda x:[stemmer.stem(y) for y in x])
# print(abc)
annn=[]
nooo=[]
for a in abc:
    if ("win" in str(a)) | ("wins" in str(a)):
        pos=a.index("win")-1
        annn.append(a[pos])
    else:
        annn.append(0)
    if "nomin" in str(a):
        if a.index("nomin") != 0:
            pos1=a.index("nomin")-1
            nooo.append(a[pos1])
    else:
        nooo.append(0)
        
awards['Awards_Won'] =annn
awards['Awards_Nominated'] = nooo

In [247]:
awards['Aw']

,Awards,Awards_Won,Awards_Nominated,Prime_Awards_Nominated,Oscar_Awards_Nominated,Golden_Globe_Awards_Nominated,BAFTA_Awards_Nominated,Prime_Awards_won,Oscar_Awards_won,Golden_Globe_Awards_won,BAFTA_Awards_won
3,"[1, win, &, 2, nomin]",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[1, win]",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"[1, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"[3, win, &, 2, nomin]",3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"[1, win, &, 1, nomin]",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"[5, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"[2, win, &, 5, nomin]",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"[nomin, for, 1, oscar., anoth, 13, win, &, 13,...",13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"[5, win, &, 4, nomin]",5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"[nomin, for, 1, golden, globe., anoth, 14, win...",14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"[3, win, &, 2, nomin]",3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,"[1, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,"[5, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,"[1, win, &, 2, nomin]",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,"[22, win, &, 44, nomin]",22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,"[1, win, &, 3, nomin]",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,"[1, win, &, 8, nomin]",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,"[2, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,"[6, win, &, 1, nomin]",6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,"[won, 2, golden, globes., anoth, 68, win, &, 2...",68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,"[won, 1, golden, globe., anoth, 31, win, &, 14...",31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,"[nomin, for, 4, primetim, emmys., anoth, 16, n...",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,"[3, win, &, 2, nomin]",3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,"[3, win, &, 6, nomin]",3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,"[2, win]",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,"[6, win, &, 4, nomin]",6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,"[7, win, &, 6, nomin]",7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,"[9, win, &, 30, nomin]",9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,"[won, 1, primetim, emmy., anoth, 1, win, &, 6,...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,"[1, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
13668,"[1, win]",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13669,"[5, win]",5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13699,"[1, win]",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13727,"[2, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13879,"[1, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13898,"[1, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13997,"[1, win]",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14003,"[1, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14007,"[1, win]",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14046,"[1, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14089,"[2, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14136,"[1, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14137,"[2, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14249,"[2, win, &, 2, nomin]",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14346,"[2, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14432,"[2, win, &, 2, nomin]",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14599,"[2, win, &, 1, nomin]",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14652,"[1, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14761,"[1, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14792,"[1, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14800,"[2, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14805,"[1, win]",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14873,"[1, win]",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14908,"[1, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15177,"[1, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15180,"[2, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15219,"[2, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15230,"[1, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15234,"[1, win, &, 1, nomin]",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15269,"[7, nomin]",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
a