In [17]:
import pandas as pd
import numpy as np
import math,ast

In [138]:
cricket=pd.read_csv('cricket_matches.csv')
cricket_host=cricket[cricket['home'] == cricket['winner']]
# xyz=cricket_host[cricket_host['home'] == "Nondescripts Cricket Club"]
# # if(cricket_host['home'] == 'Nondescripts Cricket Club'):
# if([xyz['innings1'] == 'Nondescripts Cricket Club']):
#     a.append(xyz['innings1_runs'])
# else:
#     a.append(xyz['innings2_runs'])
# a,xyz['innings1'] == 'Nondescripts Cricket Club'

In [139]:
# cricket_host[(cricket_host['innings1'] == "Durham") & (np.isnan(cricket_host['win_by_runs']) == ast.literal_eval('False'))]['innings1_runs'].sum()
# xyz=cricket_host[(cricket_host['innings1'] == "Karachi Blues") & (np.isnan(cricket_host['win_by_runs']) == ast.literal_eval('False'))]['innings1_runs']
# xyz,xyz.sum(),xyz.mean(),xyz.count()

In [140]:
# xyz1=cricket_host[(cricket_host['innings2'] ==  "Karachi Blues") & (np.isnan(cricket_host['win_by_wickets']) == ast.literal_eval('False'))]['innings2_runs']
# xyz1,xyz1.sum(),xyz1.mean(),xyz1.count(),round((xyz.sum()+xyz1.sum())/(xyz.count()+xyz1.count()))

In [146]:
team=[]
run_avg=[]
for team_name in cricket_host.home.unique():
    score_inn1=(cricket_host[(cricket_host['innings1'] == team_name) & (np.isnan(cricket_host['win_by_runs']) == ast.literal_eval('False'))]['innings1_runs'])
    score_inn2=cricket_host[(cricket_host['innings2'] == team_name) & (np.isnan(cricket_host['win_by_wickets']) == ast.literal_eval('False'))]['innings2_runs']
    score=(score_inn1.sum()+score_inn2.sum())/(score_inn1.count()+score_inn2.count())
    team.append(team_name)
    run_avg.append(round(score))
home_score=pd.DataFrame({'Home':team,'Score':run_avg})
#remove score with nan
home_score=home_score.dropna()
home_score.to_csv('Q3_P1.csv')
home_score

/Users/vishaldiyora/anaconda5/lib/python3.5/site-packages/ipykernel/__main__.py:6: RuntimeWarning: invalid value encountered in long_scalars

                                     Home  Score
0                                  Durham  158.0
1                               Hampshire  162.0
2                                  Surrey  156.0
3                          Worcestershire  168.0
4                         Gloucestershire  155.0
5                               Yorkshire  160.0
6                                    Kent  157.0
7                          Leicestershire  156.0
8                         Nottinghamshire  165.0
9                                  Sussex  157.0
10                             Derbyshire  148.0
11                             Lancashire  154.0
12                              Middlesex  153.0
13                       Northamptonshire  163.0
14                           Warwickshire  158.0
15                              Glamorgan  151.0
16                                  Essex  167.0
17                           Eastern Cape  116.0
18                                 Titans  156.0
19                               Dolphins  157.0
20                                 Eagles  152.0
21                               Somerset  180.0
22   Bloomfield Cricket and Athletic Club  124.0
23                Burgher Recreation Club  132.0
24            Chilaw Marians Cricket Club  156.0
25                   Colombo Cricket Club  162.0
26                     Colts Cricket Club  158.0
27          Kurunegala Youth Cricket Club  166.0
28                      Moors Sports Club  145.0
29              Nondescripts Cricket Club  160.0
..                                    ...    ...
245                        Rangpur Riders  138.0
246                       Dhaka Dynamites  139.0
247                    Comilla Victorians  139.0
248                         Barisal Bulls  158.0
249                    Sylhet Super Stars  112.0
250                         England Lions  142.0
251                            Saurashtra  144.0
252                     Colombo Commandos  155.0
253                   Hambantota Troopers  132.0
254                       Galle Guardians  145.0
255                   Kurunegala Warriors  141.0
256                       Kandy Crusaders  156.0
257                         Karachi Kings  154.0
258                        Peshawar Zalmi  145.0
259                     Quetta Gladiators  146.0
260                      Islamabad United  150.0
261                      Lahore Qalandars  179.0
262                          North Island  127.0
263                         Gujarat Lions  161.0
264               Rising Pune Supergiants  173.0
265                Trinbago Knight Riders  170.0
266                         Karachi Blues  170.0
267   Federally Administered Tribal Areas  140.0
268                          Lahore Blues  136.0
269                        Karachi Whites  161.0
270                         Lahore Whites  163.0
271                              Peshawar  140.0
272                             Islamabad  151.0
273                         Khulna Titans  133.0
274                    Chittagong Vikings  162.0

[274 rows x 2 columns]