In [1]:
import csv
import pandas as pd
import re

In [4]:
movie= pd.read_csv('movies_awards.csv',encoding ='latin1')
abc=movie['Awards'].dropna().str.rstrip('.')
abc.head()
# for ab in abc
# if "win" in ab:
#     ab.split('&')
# #

3     1 win & 2 nominations
4                     1 win
5              1 nomination
6    3 wins & 2 nominations
7      1 win & 1 nomination
Name: Awards, dtype: object

In [5]:
# from nltk.stem.snowball import SnowballStemmer
# stemmer = SnowballStemmer("english")
# print(stemmer.stem("nominated"))

nomin

In [6]:
# print(stemmer.stem(['1', 'win', '&', '2', 'nominations']))

AttributeError: 'list' object has no attribute 'lower'

In [7]:
# axx=["nomin", 1, 11, "win", "&", 24 ,"nomin"]
# [axx.index("nomin")]
# "win" in l
# ax=l.index("win")-1
# int(l[ax])
# # abc.values()
# z=[]
# def a(ax):
#     zx=ax.split(' ')
#     for e in zx:
#         if digit():
            
#             z.append(stemmer.stem(e))
#     return z
        
# abc[200:300]

In [8]:
awards=pd.DataFrame(columns=["Awards","Awards_Won","Awards_Nominated","Prime_Awards_Nominated","Oscar_Awards_Nominated","Golden_Globe_Awards_Nominated","BAFTA_Awards_Nominated","Prime_Awards_won","Oscar_Awards_won","Golden_Globe_Awards_won","BAFTA_Awards_won"])
awards['Awards'] = abc
awards.head()

,Awards,Awards_Won,Awards_Nominated,Prime_Awards_Nominated,Oscar_Awards_Nominated,Golden_Globe_Awards_Nominated,BAFTA_Awards_Nominated,Prime_Awards_won,Oscar_Awards_won,Golden_Globe_Awards_won,BAFTA_Awards_won
3,1 win & 2 nominations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1 win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1 nomination,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3 wins & 2 nominations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1 win & 1 nomination,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# xyz=movie['Awards'].dropna().apply(lambda x:re.sub('\.$', '', x)).apply(lambda x:x.split(' '))
# # abc=xyz.apply(lambda x:[stemmer.stem(y) for y in x])
# # print(abc)
# annn=[]
# nooo=[]
# for a in abc:
#     if ("win" in str(a)) | ("wins" in str(a)):
#         pos=a.index("win")-1
#         annn.append(a[pos])
#     else:
#         annn.append(0)
#     if "nomin" in str(a):
#         if a.index("nomin") != 0:
#             pos1=a.index("nomin")-1
#             nooo.append(a[pos1])
#     else:
#         nooo.append(0)
        
# awards['Awards_Won'] =annn
# awards['Awards_Nominated'] = nooo