# Analysis 5 
### Plotting the Choropleth US Maps using Plot.ly and Bokeh

1. Zillow DataSetCleaning the Data.
2. State Code to the Name of the State.
3. Plott Choropleth US Rental by State

In [2]:
# Importing all the necessary files
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import pylab
from scipy.stats import norm
import matplotlib.mlab as mlab
import seaborn as sns
import re
%matplotlib inline

### Offline Plotly Usage

Get imports and set everything up to be working offline.

In [3]:
import plotly.plotly as py
import plotly.graph_objs as go 
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

Now set up everything so that the figures show up in the notebook:

In [4]:
init_notebook_mode(connected=True)

## Install plot.ly offline
More info on other options for Offline Plotly usage can be found [here](https://plot.ly/python/offline/).

## Choropleth US Maps
​

##### Dictonary to Convert State Name to State Code

In [5]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
    'District of Columbia':'DC'
}

1. Loading data to from State _zillowdata_ in that State_MedianRentalPrice_AllHomes.csv.
2. Renaming the state name to code.

In [6]:
df = pd.read_csv('Data/CSV/State_MedianRentalPrice_AllHomes.csv')
df['RegionName']=df['RegionName'].replace(us_state_abbrev)
df.head()

,RegionName,SizeRank,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,...,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02
0,CA,1,NaN,NaN,2400.0,2400.0,2400.0,2495.0,2500.0,2600.0,...,2395.0,2395.0,2400.0,2380.0,2395,2350.0,2400,2300.0,2400.0,2500.0
1,TX,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1400.0,1420.0,1430.0,1412.0,1400,1395.0,1400,1375.0,1425.0,1450.0
2,NY,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3300.0,3095.0,3000.0,3000.0,2950,2975.0,2895,2850.0,2899.0,2995.0
3,FL,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1695.0,1670.0,1600.0,1600.0,1600,1600.0,1750,1595.0,1600.0,1650.0
4,IL,5,1600.0,1500.0,1500.0,1500.0,1500.0,1500.0,1500.0,1500.0,...,1600.0,1600.0,1600.0,1595.0,1550,1550.0,1549,1525.0,1500.0,1536.0

In [7]:
# It is the color used as scl list the different rgb colors 
scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]
#Loading data as dict where location is the dataframe RegionName 
#Using January 2017 data as value and ploting the map on state basis.
data = dict(type='choropleth',
            colorscale = scl,
            locations = df['RegionName'],
            z = df['2017-01'],
            locationmode = 'USA-states',
#             text = df['2016-12'],
            marker = dict(line = dict(color = 'rgb(255,255,255)',width = 2)),
            colorbar = {'title':"Sqrt USD"}
            )

In [8]:
#Setting the layout to and giving title 
layout = dict(title = ' January 2017 Median Rental Price of All Home by State',
              geo = dict(scope='usa',
                         lakecolor = 'rgb(85,173,240)')
             )

In [9]:
choromap = go.Figure(data = [data],layout = layout)

In [10]:
#Plotting the map
iplot(choromap)

# Above I have shown the data Choropleth Maps
# Here I will show the data as per the county and will plot as per the County Median Listin Price of AllHouse on January 2017

In [11]:
#Importing the bookeh plotting and require file
from bokeh.plotting import figure, show, output_file
from bokeh.sampledata.us_counties import data as counties
from bokeh.sampledata.us_states import data as states
from bokeh.palettes import viridis #To get the different color

In [12]:
zillow=pd.read_csv('Data/CSV/County_MedianListingPrice_AllHomes.csv')
zillow=zillow.fillna(value=10000)

zillow[['RegionName','State','StateCodeFIPS','MunicipalCodeFIPS','2017-01']].head()

    RegionName State  StateCodeFIPS  MunicipalCodeFIPS   2017-01
0  Los Angeles    CA              6                 37  595000.0
1         Cook    IL             17                 31  229900.0
2       Harris    TX             48                201  259900.0
3     Maricopa    AZ              4                 13  285000.0
4    San Diego    CA              6                 73  579000.0

In [15]:
#Want to exclude this two states otherwise the map will be bigger and not able to see that properly
del states["HI"]
del states["AK"]
#Reversing color because it giving darker to lighter Requires lighter to darker
colors=viridis(45)
color_u=[]
for z in reversed(colors):
    color_u.append(z)
#Colour_u have different combination of 45 colors code.


EXCLUDED = ("ak", "hi", "pr", "gu", "vi", "mp", "as")

#Getting longitude and latitude of states to plot.
state_xs = [states[code]["lons"] for code in states]
state_ys = [states[code]["lats"] for code in states]

#Getting longitude and latitude of counties to plot.
county_xs=[counties[code]["lons"] for code in counties if counties[code]["state"] not in EXCLUDED]
county_ys=[counties[code]["lats"] for code in counties if counties[code]["state"] not in EXCLUDED]

county_colors = []
#Counties have two values one with the state code and other with county code within that state so comparing and not including the other states.
for a,b in counties:
    if zillow[(zillow['StateCodeFIPS'] ==a) & (zillow['MunicipalCodeFIPS']==b)]['State'].values in EXCLUDED:
        continue
    try:
#     #here comparing and getting the value of January 2017 Median Listing Price
        rate = zillow[(zillow['StateCodeFIPS'] ==a) & (zillow['MunicipalCodeFIPS']==b)]['2017-01']
        #Diving by lowest to get the lowest value and can get the colorcode as it
        idx=rate/55950
        xaaaa=idx.values.astype(np.int64)
        if not xaaaa:
            county_colors.append(color_u[0])
        else:
            county_colors.append(color_u[xaaaa])
    except KeyError:
        county_colors.append("black")
        
p = figure(title="MedianSoldPrice January 2017", toolbar_location="left",
           plot_width=800, plot_height=500)


p.patches(county_xs, county_ys,
          fill_color=county_colors, fill_alpha=0.7,
          line_color="white", line_width=0.5)


p.patches(state_xs, state_ys, fill_alpha=0.0,
          line_color="#1B1530", line_width=2, line_alpha=0.3)

output_file("US-MedianPrice Jan 2017.html", title="US-MedianPrice Jan 2017.py example")

show(p)

/Users/vishaldiyora/anaconda5/lib/python3.5/site-packages/ipykernel/__main__.py:36: VisibleDeprecationWarning:

converting an array with ndim > 0 to an index will result in an error in the future

/Users/vishaldiyora/anaconda5/lib/python3.5/site-packages/bokeh/models/sources.py:89: BokehUserWarning:

ColumnDataSource's columns must be of the same length